<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title>Mad Libs</title>
  </head>
  <body class="container-fluid">
    <div id="story"> -->
      <h1>
        A Fantastical Adventure featuring @Model.GetPerson1() and @Model.GetPerson2()
      </h1>
      <p>
        One day, @Model.GetPerson1() and @Model.GetPerson2() were walking through the woods, when suddenly a giant @Model.GetAnimal() appeared. "@Model.GetExclaimation()", @Model.GetPerson1() cried. The two of them @Model.GetVerb() as quickly possible, and when they were safe, @Model.GetPerson1() and @Model.GetPerson2() gave each other a giant @Model.GetNoun().
      </p>
    <!-- </div>
  </body>
</html> -->
